#blm_meta_intro {
width: 96%;
margin: 20px 2%;
}

#blm_location_selection_tool {
width: 100%;
margin-bottom: 20px;
}

#blm_location_search,
#blm_location_choice {
display: inline-table;
width: 45%;
margin: 0 2%;
}

#blm_location_choice[data-display="0"] {
display: none;
}

.blm_search_title {
width: 100%;
font-size: 16px;
line-height: 16px;
}

.blm_search_body {
width: 100%;
margin-top: 10px;
}

#blm_location_input {
height: 28px;
}

#blm_location_choice_value {
width: 100%;
font-size: 14px;
line-height: 17px;
font-weight: bold;
}

#blm_location_choice_components {
float: left;
width: 100%;
display: none;
}

#blm_location_search button,
#blm_location_choice button {
padding: 4px 6px;
color: #555;
background: #f7f7f7;
-webkit-box-shadow: inset 0 1px 0 #fff,0 1px 0 rgba(0,0,0,.08);
box-shadow: inset 0 1px 0 #fff,0 1px 0 rgba(0,0,0,.08);
vertical-align: baseline;
display: inline-block;
text-decoration: none;
font-size: 13px;
line-height: 26px;
height: 28px;
margin: 0;
padding: 0 10px 1px;
cursor: pointer;
border: 1px solid #ccc;
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
-webkit-border-radius: 3px;
border-radius: 3px;
white-space: nowrap;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
cursor: pointer;
}

#blm_location_search button:hover, 
#blm_location_choice button:hover {
background: #fafafa;
border-color: #999;
color: #23282d
}

#blm_location_choice button {
margin-left: 20px;
cursor: pointer;
}

#blm_location_results {
float: left;
width: 100%;
height: 0;
overflow: hidden;
}

#blm_location_results[data-display="1"] {
height: auto;
}

#blm_location_results li {
float: left;
width: 90%;
margin-bottom: 0;
}

#blm_location_results li:nth-child(even) {
background: #efefef;
}

#blm_location_results li a {
float: left;
width: 90%;
padding: 10px 5%;
text-decoration: none;
}

#blm_location_results li a:hover {
text-decoration: none;
}
